@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Italic.ttf");
}

#root {
  color: white;
  display: block;
  min-height: 100vh;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
.App {
  position: relative;
  padding-bottom: 4rem;
  /* background-attachment: fixed;
  background-image: url("./assets/img/Beers.webp");
  background-position: center;
  background-size: cover; */
  min-height: 100vh;
}
.button {
  background-color: white !important;
  min-width: 100px !important;
}
.button:hover {
  background-color: white !important;
  color: black;
}
.delete,
.hover,
.minus,
.plus {
  cursor: pointer;
}
.delete:hover {
  color: red;
}
.edit:hover {
  color: green;
}
.green-c {
  color: green;
}
.main-content {
  max-width: 1280px;
  background-color: rgba(0, 21, 36, 0.95);
  border: 10px solid white;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 20px;
  padding-bottom: 100px;
}
.main-content h1 {
  margin-top: 0px;
}
.ming-c {
  color: rgb(21, 97, 109);
}
.input {
  border: 1px solid white;
  border-radius: 4px;
  background: none;
  padding: 22.5px 14px;
  color: white;
  font-family: inherit;
  min-height: 4rem;
  width: 100%;
  font-size: 20px;
}
.MuiInputBase-input {
  color: white !important;
}
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}
form > .form-control {
  width: 100%;
  min-height: 5.2rem;
  position: relative;
  margin-bottom: 1rem;
}
form > .form-control > svg {
  position: absolute;
  right: 0px;
  height: 4rem;
  pointer-events: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
option {
  color: black;
  font-family: inherit;
}
.orange-c {
  color: rgb(255, 125, 0);
}
.red-c {
  color: red;
}
.yellow-c {
  color: yellow;
}
@media screen and (min-width: 0px) {
  html,
  body {
    font-size: 8px;
  }
}
@media screen and (min-width: 400px) {
  html,
  body {
    font-size: 12px;
  }
}
@media screen and (min-width: 800px) {
  html,
  body {
    font-size: 20px;
  }
  .panel {
    display: block;
  }
}
a {
  color: white;
}
a:hover,
span:hover {
  color: #b51fb7;
}
form .MuiButtonBase-root:last-of-type {
  float: right;
}
form > .MuiGrid-container {
  margin-top: 4px;
}
form label:first-of-type {
  display: inline-block;
  margin-top: 0px;
}
form svg path {
  color: white;
}
html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html,
body {
  margin: 0;
}
