html,
body,
#app,
#app > div {
  height: 100%;
  background-color: black;
  margin: 0;
}

.home-appear {
  opacity: 0;
  z-index: 1;
}

.home-appear.home-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.home-enter {
  opacity: 1;
  z-index: 1;
}

.home-enter.home-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.white-text-large {
  color: white;
  font-size: 1.5em;
}

.buttons {
  background-color: white !important;
  min-width: 100px;
}
.buttons:hover {
  background-color: white !important;
  color: black;
}

.float-right {
  float: right;
}
.white-text {
  color: white !important;
}

.white-border {
  border-color: white !important;
}
.mrgn-b0 {
  margin-bottom: 0px;
}
.mrgn-t8 {
  margin-top: 8px;
}
.mrgn-t16 {
  margin-top: 16px;
}
.mrgn-r8 {
  margin-right: 8px;
}
.action-link {
  cursor: pointer;
  color: white;
  min-width: 100px;
}
.action-link:hover:focus:visited:link:active {
  text-decoration: none;
}
.beer-list-table .MuiTableCell-root {
  border-bottom: none;
  color: white !important;
  overflow-y: visible;
}
.text-align-center {
  text-align: center;
}
.nav-bar {
  background-color: #cc7000 !important;
}
.links {
  cursor: pointer;
  color: white;
}
.links:hover:focus:visited:link:active {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.taphouse-logo {
  height: 100px;
  width: auto;
}
.flex-grow-1 {
  flex-grow: 1;
}
svg path {
  color: white;
}
