# C# build
**/bin
**/obj
**/.DS_Store

# C# api settings
api/appsettings.json
api/appsettings.Development.json
migrations

# npm
**/node_modules
**/.vscode

# gatsby
.cache/
public

# dotenv
.env.development
.env.production
