.home img {
  height: auto;
  max-height: 600px;
  width: 100%;
}
.home > div:first-of-type {
  display: flex;
  justify-content: space-around;
}
.home ul {
  padding-left: 0px;
}
.home li {
  list-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.home li a {
  font-size: 1.5rem;
  text-decoration: none;
  height: 100%;
}
