#beer-list > h1 {
  display: inline-block;
}
#beer-list > div:first-of-type {
  float: right;
}
#beer-list th {
  text-align: left;
}
#beer-list table {
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
  word-wrap: break-word;
}
#beer-list td,
#beer-list th {
  padding-bottom: 1rem;
  padding-right: 2rem;
}
