.home img {
  height: auto;
  max-height: 600px;
  width: 100%;
}
.home > div:first-of-type {
  display: flex;
  justify-content: space-around;
}
.home ul {
  padding-left: 0px;
}
.home li {
  list-style: none;
}
.home li a {
  text-decoration: none;
}
